<%- include("includes/header") %>
<!-- header ends here -->
  
<div class="container py-md-5 container--narrow">
  <div class="text-center">
    <h2>Hello <strong><%= user.username %></strong>, your feed is empty.</h2>
  </div>  
</div>

<!-- footer begins -->
<%- include("includes/footer") %>
